<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{employee.lname}}, {{employee.fname}}">
  <ion-content class="padding">
    

<div class="list">

  <a class="item item-icon-left" href="#">
    <i class="icon ion-clipboard"></i>
   {{employee.empNo }}
  </a>
  
  <a class="item item-icon-left" href="#">
    <i class="icon ion-man"></i>
   {{employee.empPosition }}
  </a>

  <a class="item item-icon-left item-icon-right" href="" ng-click="callNumber('{{employee.empMobile}}')">
    <i class="icon ion-iphone"></i>
    {{employee.empMobile}}
    <i class="icon ion-ios-telephone-outline"></i>
  </a>
  
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
   {{employee.reportsTo}}
  </a>
  
  <a class="item item-icon-left" href="#">
    <i class="icon ion-ios-body"></i>
   {{employee.reportsToPosition }}
  </a>

  <a class="item item-icon-left item-icon-right" href=""  ng-click="callNumber('{{employee.reportsToMobile}}')">
    <i class="icon ion-ipad"></i>
    {{employee.reportsToMobile}}
    <i class="icon ion-ios-telephone-outline"></i>
  </a>
  

</div>

  </ion-content>
</ion-view>


