<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

 <!--Dashboard Tab
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>-->
  
  <!-- Onsite Tab -->
  <ion-tab title="Onsite Employees" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/onsite">
    <ion-nav-view name="tab-onsite"></ion-nav-view>
  </ion-tab>
  
   <!-- Warden Warning Tab -->
  <ion-tab title="Warden Warning" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/warnings">
    <ion-nav-view name="tab-warnings"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab 
  <ion-tab title="Warden Warning" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>-->

  <!-- Account Tab
  <ion-tab title="Evacuation Roll Call" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>-->

  <!-- Account Tab-->
  <ion-tab title="Evacuation Roll Call" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/rollcall">
    <ion-nav-view name="tab-rollcall"></ion-nav-view>
  </ion-tab>

</ion-tabs>
